*{
    margion: 0;
    padding: 0;
}

body{
    display: none;
}

.wrapper{
    width: 90%;
    overflow: hidden;
    margin: auto;
}

/* globa; Variable */

.highlight{
    color: #e8491d;
}

.pink{
    color: rgb(230, 127, 144);
}

/*  header */

header{
    background: rgb(36, 35, 35);
    color: rgb(165, 161, 161);
}

header h1{
    font-family: 'piazzolla';
    padding: 5px 0 5px 0;
    text-align: center;
}

/* hero */

.hero{
    background: black;
}

.hero .owl-dots{
    display: none;
}

.hero img{
    height: 40vh;
}

/* buttons */

.buttons .container{
    display: flex;
}

.buttons .btn1{
    background: red;
    margin-top: 10px;
    height: 50px;
    width: 33.33%;
}

.buttons .btn1 button{
    background: rgb(87, 86, 86);
    color: #fff;
    border: none;
    font-size: 10px;
    height: 100%;
    width: 100%;
}

.buttons .btn2{
    background: blue;
    margin-top: 10px;
    height: 50px;
    width: 33.33%;
}

.buttons .btn2 button{
    background: pink;
    color: #000;
    border: none;
    font-size: 10px;
    height: 100%;
    width: 100%;
}

.buttons .btn3{
    background: green;
    margin-top: 10px;
    height: 50px;
    width: 33.33%;
}

.buttons .btn3 button{
    background: rgb(36, 35, 35);
    color: #fff;
    border: none;
    font-size: 10px;
    height: 100%;
    width: 100%;
}


/* searchbar */

.searchbar input{
    width: 100%;
    padding: 15px 5px 15px 5px;
    border: none;
    border-bottom: grey 1px solid;
    font-family: 'piazzolla';
}

/* p-head */

.p-head .ourProductHead{
    text-align: center;
    font-size: 12px;
    color: grey;
    margin-top: 5px;
    font-style: italic;
}

/* ourAvailableItem */

.ourAvailableItem .item{
    display: flex;
    height: 100px;
    background: #f4f4f4;
    padding: 10px 5px 10px 5px;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: grey 0 0 5px;
}

.ourAvailableItem .img{
    width: 30%;
}

.ourAvailableItem .img img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.ourAvailableItem .description{
    width: 70%;
    margin-left: 10px;
}

.ourAvailableItem .description h4{
    color: grey;
    font-size: 15px;
}

.ourAvailableItem .description .price{
    font-size: 12px;
}

.ourAvailableItem .description .category{
    font-size: 10px;
    color: rgb(168, 167, 167);
}

/* footer */

footer{
    padding: 10px 0 10px 0;
    background:rgb(36, 35, 35);
    color: rgb(165, 161, 161);
    text-align: center;
    font-size: 10px;
}

/* modals */

.modal-body,
.modal-header,
.modal-footer{
    border: none;
}

.modal-body span{
    font-size: 12px;
}

.modal-body button{
    margin-top: 20px;
    width: 100%;
    padding: 15px 0 15px 0;
    color:#fff;
    background: rgb(36, 35, 35);
    font-size: 10px;

}

/* responsive */

@media(max-width: 750px){
    body{
        display: block;
    }
}