*{
    margion: 0;
    padding: 0;
}

body{
    display: none;
}

.wrapper{
    width: 90%;
    overflow: hidden;
    margin: auto;
}

/* globa; Variable */

.highlight{
    color: #e8491d;
}

.pink{
    color: rgb(230, 127, 144);
}

/*  header */

header{
    background: rgb(36, 35, 35);
    color: rgb(165, 161, 161);
}

header h1{
    font-family: 'piazzolla';
    padding: 5px 0 5px 0;
    text-align: center;
}

/* hero */

.hero{
    background: black;
}

.hero .owl-dots{
    display: none;
}

.hero img{
    height: 40vh;
}

/* searchbar */

.searchbar input{
    width: 100%;
    padding: 5px 5px 5px 5px;
    border: none;
    border-bottom: grey 1px solid;
    font-family: 'piazzolla';
}

/* p-head */

.p-head .ourProductHead{
    text-align: center;
    font-size: 12px;
    color: grey;
    margin-top: 5px;
    font-style: italic;
}

/* ourAvailableItem */

.ourAvailableItem{
    
}

.ourAvailableItem .wrapper .item{
    display: flex;
    height: 100px;
    background: #f4f4f4;
    padding: 10px 5px 10px 5px;
}

.ourAvailableItem .img{
    width: 30%;
}

.ourAvailableItem .img img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.ourAvailableItem .description{
    width: 70%;
    margin-left: 10px;
}

.ourAvailableItem .description h4{
    color: grey;
    font-size: 15px;
}

.ourAvailableItem .description .price{
    font-size: 12px;
}

.ourAvailableItem .description .category{
    font-size: 10px;
}

/* responsive */

@media(max-width: 750px){
    body{
        display: block;
    }
}